:root {
    --background--main-color: #ffffff;
    --color-brand: #2e2f42;
    --color-text: #434455;
    --color-logo: #4d5ae5;
    --color-portfolio: #e7e9fc;
    --color-custom-link: #8e8f99;
    --icon-color: #f4f4fd;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--background--main-color);
}

img {
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
    /* outline: 2px solid red; */
}




.mob-menu,
.burger-btn {
    display: none;
}

.link {
    text-decoration: none;
    color: var(--color-brand);
}

.list {
    list-style-type: none;
}

.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* 21/18 */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-logo);
    margin-right: 76px;
}

.menu-container.is-open {
    transform: translateX(0);
}

.sp-logo-head {
    color: var(--color-brand);
}

.sp-logo-foot {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}

header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    text-decoration: none;
    color: var(--color-brand);
    display: flex;
    gap: 40px;
}

.address-list {
    display: flex;
    gap: 40px;
}

.header-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
}

/* .header-list-link:hover::after { */
.header-list-link.active::after {
    content: "";
    display: block;
    background-color: #404bbf;
    width: 48px;
    height: 4px;
    position: absolute;
    bottom: -1px;
    border-radius: 2px;
    left: 0;
    color: #404bbf;
}

.header-list-link {
    /* color: var(--color-brand); */
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: rgba(46, 47, 66, 1);

}

.header-list-link:hover,
.address-link:hover,
.header-list-link:focus,
.address-link:focus {
    color: #404bbf;
}



.header-address {
    font-style: normal;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-link.active,
.header-list-link.active {
    color: #404bbf;
}

.burger {
    /* fill: red; */
}



/*-----------------hero----------------*/
.hero {
    background-color: var(--color-brand);
    background-image: linear-gradient(180deg,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/desk/people-office\ DESK2X.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
}

.hero-container {
    width: 100%;
}

.hero-title {
    font-weight: 700;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    /* or 107% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto 40px;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    border: none;
    background: var(--color-logo);
    color: #ffffff;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    cursor: pointer;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/*---------------------------- advantages-container------------------ */

.advantages {
    padding: 120px 0 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.adv-cont-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    margin: 0 auto;
    padding: 24px 100px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.icon-adv {
    display: block;

}

.title-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--color-brand);
    margin-bottom: 72px;
}

.adv-item {
    gap: 24;
    width: calc((100% - 72px)/4);
    /* width: 100%; */
}

.part-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    color: var(--color-brand);
    margin-bottom: 8px;
}

.part-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
    color: var(--color-text);
}

/* ----------------------specialization---------------- */
.specialization {
    padding-bottom: 120px;
}

.adv-list {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-specialization {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.spec-item {}

/*  ---------------team-----------------------  */
.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-team {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.team-item {
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;

}

.team-item-cont {
    padding: 32px 0;
}

.team-icon-list {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    flex-wrap: wrap;
    justify-content: center
}

.team-icon-link {
    display: flex;
    background-color: var(--color-logo);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404bbf;
}

.icon-team {
    fill: #f4f4fd;
    width: 16px;
    height: 16px;
}


/*-------------------------------- customer--------------------- */

.customers-sec {
    padding: 120px 0
}

.customers-list {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.customers-item-link {

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-custom-link);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}

.customers-item-link:hover,
.customers-item-link:focus {
    border-color: #404bbf;
    color: #404bbf;

}

.customers-item {
    background-color: transparent;
    height: 88px;
    border-radius: 4px;
}

.customer-icon {
    fill: rgba(142, 143, 153, 1);
    fill: currentColor;

    display: block;
}

/* -----------------------footer------ */

.footer {
    padding: 100px 0;
}

.f-wrapper {
    display: flex;

}

.footer .container .link-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.text-foot {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer {
    background-color: var(--color-brand);
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.cont-logo-footer {
    margin-right: 120px;

}


.footer-title {
    color: var(--background--main-color);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-list-soc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-width: 208px;

}

.footer-list-item {
    background-color: var(--color-logo);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;

}



.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--color-logo);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: rgba(49, 208, 170, 1);
}

.footer-icon {
    fill: var(--icon-color);
    width: 24px;
    height: 24px;
    display: block;

}

/* ------------------------portfolio-------------------------------- */
.filter {
    padding: 96px 0 120px 0;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.proj-btn {
    padding: 12px 24px;
    border: 1px solid var(--color-portfolio);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-btn:hover,
.proj-btn:focus {
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------------projects-----------------------------  */
.projects {}

.portfolio-list-item {}

.proj-btn {
    font-family: "Roboto", sans-serif;
    background: #f4f4fd;
    border: 1px solid #e7e9fc;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-logo);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-btn:hover,
.proj-btn:focus {
    background-color: #404bbf;
    color: #ffffff;
}

.project-card {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.project-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.project-item-link:hover,
.project-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-link:hover .cover-block-text,
.project-item-link:focus .cover-block-text {
    transform: translateY(0%);


}

.container-cover {
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08);

}

.cover-block-text {
    background-color: var(--color-logo);
    position: absolute;
    top: 0;
    letter-spacing: 0.02em;
    color: var(--icon-color);
    font-size: 16px;
    line-height: 1.5;
    /* max-width: 296px; */
    text-align: center;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.proj-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}











.text-sub {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    /* text-align: center; */
    margin-bottom: 16px;
    color: #ffffff
}

.form-sub {
    display: flex;
    gap: 24px;

}

.sub-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.sub-email::placeholder {
    color: #ffffff;
}

.sub-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    ;
    border-radius: 4px;

}

.sub-icon {
    margin-left: 16px;

}

.form-sub {
    flex-wrap: wrap;
}


.f-wrapper {

    flex-wrap: wrap
}

/*------------------------------------backdrop---------------------- */
.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    min-height: 584px;
    background-color: rgba(252, 252, 252, 1);

}



.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-brand);
    margin-bottom: 16px;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    text-align: center;
}

.modal-title-footer {
    color: #ffffff;
}

.modal-field {
    margin-bottom: 8px;

}

.modal-field-textarea {
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.input-icon {
    fill: var(--color-logo);
}



.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--color-custom-link);
    display: block;
    margin-bottom: 4px;

}

.input-icon {
    fill: var(--color-brand);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-wrap {
    position: relative;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-field-check {
    margin-bottom: 24px;
}

.modal-textarea::placeholder {
    font-style: 12px;
    color: rgba(46, 47, 66, 0.4);
    line-height: 1.16;
}

.input-check:checked+.check-text .label-span {
    fill: var(--icon-color);
    background-color: #404bbf;
    border: none;



}

.label-span:focus {
    display: none;
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    color: var(--color-custom-link);
    letter-spacing: 0.04em;
    /* display: flex; */
    align-items: center;


}

.label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-privacy {
    color: var(--color-logo);
    text-decoration: underline;
}


.btn-modal {
    background-color: rgba(231, 233, 252, 1);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-menu {}

.btn-modal:hover,
.btn-modal:focus {
    background-color: #404bbf;
    border: none;


}

.modal-icon {
    /* display: block; */
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: rgba(46, 47, 66, 1);
}

.burger {}

.btn-modal:hover .modal-icon,
.btn-modal:focus .modal-icon {
    fill: #ffffff;

}



.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send:hover,
.modal-send:focus {
    background-color: rgba(64, 75, 191, 1);
}




/*--------------------------------- @media (max-width:768px) {-------------------- */

@media (max-width:768px) {

    .mob-menu,
    .burger-btn {
        display: none;
    }

    .hero {
        padding: 112px 0;
    }

    .hero {
        background-color: var(--color-brand);
        background-image: linear-gradient(180deg,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/TAB2x/Dark-bgTAB2x.jpg);
    }

    .address-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: auto;
        gap: 12px;
    }

    .address-link {
        font-size: 12px;
        line-height: 1.16;
    }

    .adv-cont-icon {
        display: none;
    }

    .advantages {
        padding: 96px 0;
    }

    .adv-list {
        gap: 72px 24px;
        width: auto;
    }

    .adv-item {
        width: calc((100% - 24px)/2);


    }

    .part-title {
        font-size: 36px;
        font-weight: 700;
    }

    .part-text {
        font-weight: 500;
        font-size: 16px;
    }

    .team {
        padding: 96px 0;
    }

    .team .container {
        max-width: 584px;
    }

    .list-team {
        gap: 72px 24px;
        width: auto;
    }

    .team-item {
        margin: 0;
        width: calc((100% - 24px)/2);
    }

    .team-item-cont .part-title {
        font-size: 20px;
        line-height: 1.2;
    }

    .customers-sec {
        padding: 96px 0;
        width: auto;

    }

    .customers-sec .container {
        width: 584px;
    }

    .customers-list {
        gap: 72px 24px;
        width: auto;


    }

    .customers-item {
        width: calc((100% - 48px) / 3);
    }

    .footer-container {
        flex-direction: column;
        padding-left: 0;
        width: 584px;
    }

    .cont-logo-footer {
        margin: 0;
    }

    .f-wrapper {
        display: flex;
        gap: 20px;
    }

    .specialization {
        display: none;
    }

    .text-sub {
        text-align: left;
    }



    .address-list-item {
        font-size: 12px;
    }

    .project-item {
        width: 347px;
    }

    img {
        width: 100%;
    }



    .sub-cont {
        width: auto;


    }

    .sub-email {
        width: 264px;
    }

    .sub-btn {
        width: 165px;
        margin: 0 auto;
    }

    .cont-logo-footer {
        margin-bottom: 72px;
    }

    .hero {
        background-color: var(--color-brand);
        background-image: linear-gradient(180deg,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Mob2x/Dark-bgMob2x.jpg);
    }


}

/* --------------media screen and (max-width:428px----------------------- */


@media screen and (max-width:428px) {
    .container {
        padding-right: 15px;
    }

    .container-header {
        height: 70px;
    }

    .header-list {
        display: none;
    }



    .link-logo {}

    .header {
        height: 70px;
    }

    .hero {
        background-color: var(--color-brand);
        background-image: linear-gradient(180deg,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Mob2x/Dark-bgMob2x.jpg);
    }

    .hero-title {
        font-size: 36px;
        max-width: 320px;
    }

    .advantages {
        padding: 96px 0;
    }

    .adv-item .part-title {
        text-align: center;
    }

    .team .container {
        width: 296px;
    }

    .adv-list {
        width: auto;
        gap: 72px;
        margin: 0;

    }

    .adv-item {
        width: auto;
    }

    .customers-list {
        gap: 72px 16px;
        width: auto;
        gap: 16px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
    }

    .customers-sec {
        padding: 96px 0;
        width: auto;
    }

    .customers-sec .container {
        width: 100%;
    }

    .customers-item {
        width: calc((100% - 16px) / 2);
    }

    .team {
        padding: 96px 0;
    }

    .team-item {
        width: 100%;
    }

    .part-title {
        font-size: 36px;
    }

    .part-text {
        font-size: 16px;
    }

    .form-sub {
        flex-direction: column;
    }

    .f-wrapper {
        flex-direction: column;

    }

    .footer-container {
        align-items: center;
        padding: 0 !important;
    }

    .cont-logo-footer {
        text-align: center;
    }

    .footer-title {
        text-align: center;
    }

    .social-media-footer {
        margin-bottom: 72px;
    }

    .link-logo {
        margin-right: 0;
    }

    .sub-email {
        width: 100vw;
    }

    .text-sub {
        text-align: center !important;
    }

    .burger-btn {
        display: block;
        width: 32px;
        height: 3px;
        background-color: var(--background--main-color);
        border-radius: 2px;
        box-shadow: 0 10px 0 0 var(--color-brand), 0 20px 0 0 var(--main-title-color);
    }

    .burger-btn span {
        display: block;

    }

    .mob-menu {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 80px 35px 40px 40px;
        background-color: #fff;
        z-index: 999;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }

    .menu-close {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        display: block;
        line-height: 0;
        border-radius: 50%;
        border: 1px solid var(--main-title-color);
        padding: 0;
    }

    .mob-menu.is-open {
        transform: translateX(0);
    }


    .burger-btn {
        border: none;
        border-color: transparent;
        cursor: pointer;
    }

    .btn-modal-menu {}

    .close-menu-btn {}

    .mob-menu-list {
        color: rgba(46, 47, 66, 1);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        flex-grow: 1;

    }

    .mob-flex {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .active {
        color: rgba(64, 75, 191, 1);
    }

    .mob-menu-list {
        margin-top: 0;
    }

    .mob-menu-item {
        margin-bottom: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .form-sub {
        flex-wrap: wrap;
    }

    .mob-menu-item:hover,
    .mob-menu-item:focus {
        color: rgba(64, 75, 191, 1);
    }

    .header-address-menu .address-list-mob {
        flex-grow: 1;

    }

    .address-list-item {
        margin: 48px;
    }

    .header-address-menu .address-link-email {
        color: rgba(67, 68, 85, 1);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .header-address-desk {
        display: none;
    }



    .address-link-tel {
        font-weight: 700;
        font-size: 36px;
        color: rgba(77, 90, 229, 1);
        max-width: 353px;
    }

    .team-icon-list {
        margin-top: 0;
    }

    .team-icon-list.mob-icon {
        justify-content: space-between;
    }

    .modal {
        width: 100%;
    }

    .modal-send {
        display: block;
        margin: 0 auto;
    }

    .footer-container {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .address-list-mob .address-list-item {
        margin: 0 0 48px;

    }

}

@media screen and (max-width:320px) {
    .address-link-tel {
        font-size: 25px;
    }

    .team-icon-list.mob-icon {
        justify-content: left;
        gap: 12px;
    }

    .address-list-mob .address-list-item {
        margin: 0 0 48px;
    }
}